
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container div {
    margin-bottom: 20px;
}

.label {
    margin-top: 30px;
    font-size: 52px;
    color: black;
    text-align: center;
    font-weight: 700;
}
.shortNote {
    font-size: 36px;
    text-align: center;
}

.rock-paper-scissor {
    display: flex;
    gap: 20px;
    max-width: 75%;
    flex-wrap: wrap;
    flex-direction: row;
}


button {
    padding: 16px 24px;
    border: 3px solid blue;
    background-color: black;
    color: white;
    border-radius: 25px;
    font-size: 36px;
}
.start-game {
    background-color: white;
    color: black;
    border: 3px solid black;
}

.round-score {
    align-items: center;
    font-size: 28px;
}

.button {
    gap: 30px;
}
.continue-btn, .reset-btn {
    margin-left: 25px;
    background-color: green;
    color: white;
    padding: 16px 32px;
    font-weight: 900;
    font-size: 28px;
}

.reset-btn {
    background-color: red;
}

.player-choice {
    font-weight: 900;
    font-size: 36px;
    padding: 32px;
}

.options {
    font-weight: 500;
    font-size: 42px;
    margin: 32px;
}

.round-score {
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
}